<script type="text/ng-template" id="something.html">
</script>

<div class="container-fluid">
    <h2>{{title}}</h2>
    <div ng-if="status">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #f3f3f3;">
                <div class="pull-right">
                    <span class="text-muted">Started At
                        <time>{{status.start_time | date:'medium'}}</time> <!-- <small class="text-muted pull-right">{{status.key}}</small> -->
                    </span>
                </div>
                <h4 class="list-group-item-heading">{{status.name}}<span ng-if="!status.name" class="text-muted">({{status.key}})</span></h4>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <!-- breaks layout in small window
                        <div class="pull-right" style="margin-top: 8px;">
                            <span class="text-muted">At <time>{{status.update_time | date:'medium'}}</time> </span>
                        </div>
                        -->
                        <h3 style="text-transform: uppercase;font-weight: bold;" class="status-{{status.status}}">
                            {{status.status}}
                            <span style="margin-left: 10px;" ng-if="status.status == 'running'"><i class="fa fa-spinner fa-pulse"></i></span>
                        </h3>
                        <p class="status-msg status-{{status.status}}">{{status.msg}}</p>
                        <span class="text-muted">At <time>{{status.update_time | date:'medium'}}</time> </span>
                    </div>
                    <div class="col-md-4">
                        <div class="progress" style="height: 35px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{status.progress*100}}" aria-valuemin="0" aria-valuemax="100" 
                            style="width: {{status.progress*100}}%; line-height: 250%;" ng-class="progressClass(status.status)">
                                {{status.progress*100 | number:1}}% 
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item" ng-if="status.tasks" style="background-color: #f3f3f3">Sub Tasks</li>
            <li class="list-group-item" ng-repeat="task in status.tasks | orderBy:'start_time'" ng-if="status.tasks">
                <div class="row">
                    <div class="col-md-6 status-{{task.status}}">
                        <div ng-click="toggleShowTasks(task)" ng-class="{has_subtask: task.tasks}" style="font-size: 14px" class="status-{{task.status}}">
                            <span ng-if="task.tasks">
                                <span ng-if="show_tasks[task.key]"><i class="fa fa-folder-open"></i></span>
                                <span ng-if="!show_tasks[task.key]"><i class="fa fa-folder"></i></span>
                            </span>
                            <b>{{task.name}}</b>
                            <span ng-if="task.tasks" class="text-muted"> ({{task.tasks.length}} children)</span>
                            <span class="text-muted" ng-if="debug"> {{task.key}}</span>
                        </div>
                        <p class="status-msg">{{task.msg}}</p>
                    </div>
                    <div class="col-md-2">
                        <p style="text-transform: uppercase;font-weight: bold;font-size: 14px;" class="status-{{task.status}}">
                            {{task.status}}
                            <span style="margin-left: 5px;" ng-if="task.status == 'running'"><i class="fa fa-spinner fa-pulse"></i></span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="progress">
                            <div class="progress-bar" ng-class="progressClass(task.status)" role="progressbar" aria-valuenow="{{task.progress*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.progress*100}}%;">
                                {{task.progress*100 | number:0}}% 
                            </div>
                        </div>
                    </div>
                </div><!--row-->
                <div ng-if="show_tasks[task.key]" class="slide-down">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subtask in task.tasks" ng-if="task.tasks" style="background-color: #fafafa;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-click="toggleShowTasks(subtask); $event.stopPropagation();" ng-class="{has_subtask: subtask.tasks}" class="status-{{subtask.status}}">
                                        <span ng-if="subtask.tasks">
                                            <span ng-if="show_tasks[subtask.key]"><i class="fa fa-folder-open"></i></span>
                                            <span ng-if="!show_tasks[subtask.key]"><i class="fa fa-folder"></i></span>
                                        </span>
                                        <b>{{subtask.name}}</b>
                                        <span ng-if="subtask.tasks && subtask.tasks.length > 0" class="text-muted"> ({{subtask.tasks.length}} children)</span>
                                        <span class="text-muted" ng-if="debug"> {{subtask.key}}</span>
                                    </div>
                                    <p class="status-msg status-{{subtask.status}}">{{subtask.msg}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p style="text-transform: uppercase;font-weight: bold; font-size: 13px;" class="status-{{subtask.status}}">
                                        {{subtask.status}}
                                        <span style="margin-left: 5px;" ng-if="subtask.status == 'running'"><i class="fa fa-spinner fa-pulse"></i></span>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <div class="progress">
                                        <div class="progress-bar" ng-class="progressClass(subtask.status)" role="progressbar" 
                                        aria-valuenow="{{subtask.progress*100}}" aria-valuemin="0" aria-valuemax="100" 
                                        style="width: {{subtask.progress*100}}%;">
                                            {{subtask.progress*100 | number:0}}% 
                                        </div>
                                    </div>
                                </div>
                            </div><!--row-->
                            <div ng-if="show_tasks[subtask.key]" class="subsub_tasks slide-down">
                                <div class="row" ng-repeat="subsubtask in subtask.tasks">
                                    <div class="col-md-6" class="status-{{subsubtask.status}}">
                                        <!-- let's display up to 3rd level -->
                                        <div class="text-muted">
                                            <span ng-if="subsubtask.tasks && subsubtask.tasks.length > 0">
                                                <i class="fa fa-folder"></i>
                                            </span>
                                            <b>{{subsubtask.name}}</b>
                                            <span ng-if="subsubtask.tasks && subsubtask.tasks.length > 0"> ({{subtask.tasks.length}} children)</span>
                                        </div>
                                        <p class="status-msg">{{subsubtask.msg}}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="text-transform: uppercase;font-weight: bold;" class="status-{{subsubtask.status}}">
                                            {{subsubtask.status}}
                                            <span style="margin-left: 5px;" ng-if="subsubtask.status == 'running'"><i class="fa fa-spinner fa-pulse"></i></span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="progress" style="height: 18px;">
                                            <div class="progress-bar" ng-class="progressClass(subsubtask.status)" role="progressbar" 
                                            aria-valuenow="{{subsubtask.progress*100}}" aria-valuemin="0" aria-valuemax="100" 
                                            style="width: {{subsubtask.progress*100}}%; font-size: 7pt; line-height: 12px;">
                                                {{subsubtask.progress*100 | number:0}}% 
                                            </div>
                                        </div>
                                    </div>
                                </div><!--row-->
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- footer -->
        <br>
        <br>
    </div>

    <div ng-if="!status">
        <p class="text-muted">Status not reported yet.. or you have specified an incorrect key</p>
    </div>

</div>

