<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
    <div class="container">
        <h2>Notification</h2>
        <div class="well">
            <p>The tar ball you have requested is ready to be downloaded (jobid: <%= jobid %>)</p>
            <a class="btn btn-primary" href="<%= download_url%>">Download (<b><%= size%></b> MB)</a>
        </div>
        <p class="text-muted">Some footer content here</p>
    </div>
</body>
</html>

