<html>
<body>
    <h2>Notification</h2>
    <p>Here is the notification template for <%= jobid %></p>
    <p>You can download your stuff from <a href="<%= download_url%>"><%= download_url%></a></p>
    <p>Size of your stuff is <b><%= size%></b> MB</p>
</body>
</html>


