'use strict';

const fs = require('fs');
const winston = require('winston');

//require('winston-logstash');

exports.progress = {
    //warning.. you don't get error message if your user/pass etc. are incorrect (it just keeps retrying silently..)
    amqp: {url: "amqp://progress:progresstest@soichi7.ppa:5672/sca"},
    exchange: "progress",
    queue: "progress1",

    redis: {
        server: "soichi7.ppa",
        port: "6380"
    }
}

exports.express = {
    //web server port
    port: 12347,

    /*
    //specify jwt config if you want to access control via jwt (applied to all routes.. for now)
    jwt: {
        pub: fs.readFileSync('./config/auth.pub'),
    }
    */
}

exports.logger = {
    winston: {
        requestWhitelist: ['url', /*'headers',*/ 'method', 'httpVersion', 'originalUrl', 'query'],
        transports: [
            //display all logs to console
            new winston.transports.Console({
                timestamp: function() {
                    var d = new Date();
                    return d.toString(); //show timestamp
                },
                colorize: true,
                level: 'debug'
            }),
            /*
            //store all warnings / errors in error.log
            new (winston.transports.File)({ 
                filename: '/var/log/sca/error.log',
                level: 'warn'
            })
            */
        ]
    },
}


